%h1 Edit Existing Movie

= form_for @movie, html: { class: 'movie_edit_form' } do |f|
  = f.label :title, 'Title'
  = f.text_field :title

  = f.label :rating, 'Rating'
  = f.select :rating, %w(G PG PG-13 R NC-17)

  = f.label :release_date
  = f.date_select :release_date, start_year: 1930

  = f.label :description
  = f.text_area :description

  = f.submit 'Update movie info'

=button_to 'Delete', movie_path(@movie), method: :delete, data: { confirm: 'Are you sure?' }
= movie_cancel_link(@movie)
