%h2 All Movies

= form_tag movies_path,  { method: :get }  do
  Include:
  - @ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", rating, if session[:ratings]; session[:ratings].include?(rating) end
  = submit_tag 'Refresh'


%table#movies
  %thead
    %tr
      %th Row Number 
      %th= sortable 'title'
      %th= sortable 'rating'
      %th= sortable 'release_date'
      %th More Info
      %th Edit
  %tbody
    - @movies.each_with_index do |movie, index|
      %tr
        %td= index + 1
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date.strftime("%b %d, %Y")
        %td= link_to "More about #{movie.title}", movie_path(movie)
        %td= link_to "Edit #{movie.title}", edit_movie_path(movie)

= link_to 'Add new movie', new_movie_path

%h1 Search TMDb for a movie

= form_tag :action => 'search_tmdb' do
  = label_tag 'search_terms',  'Search Terms'
  = text_field_tag 'search_terms'
  = submit_tag 'Search TMDb'
