%h1 Create New Movie

= form_for @movie, html: { class: 'movie_edit_form' } do |f|
  = render 'shared/error_messages', object: f.object

  = f.label :title, 'Title'
  = f.text_field :title

  = f.label :rating, 'Rating'
  = f.select :rating, Movie.ratings_list

  = f.label :director, 'Director'
  = f.text_field :director

  = f.label :release_date
  = f.date_select :release_date, start_year: 1930

  = f.label :description
  = f.text_area :description

  = f.submit 'Save changes'

= movie_cancel_link
